# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
env/
venv/
.env

# Conda
conda-meta/

# Jupyter
.ipynb_checkpoints/

# Build / packaging
build/
dist/
*.egg-info/
src/signal_lab.egg-info/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Data (optional depending on your intent)
data/raw/
data/interim/
